<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="connection.url">jdbc:postgresql://localhost/ovchip</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">Glazenpod12</property>

         <property name="show_sql">true</property>
         <property name="format_sql">true</property>
<!--        <mapping class="hibernate.Adres"/>-->
<!--        <mapping class="hibernate.OVChipkaart"/>-->
<!--        <mapping class="hibernate.Product"/>-->
<!--        <mapping class="hibernate.Reiziger"/>-->
        <mapping class="hibernate_p7.Adres"/>
        <mapping class="hibernate_p7.OVChipkaart"/>
        <mapping class="hibernate_p7.Product"/>
        <mapping class="hibernate_p7.Reiziger"/>

    </session-factory>
</hibernate-configuration>